.landing_page_main_back_image {
  background-image: url("../../public/images/landing_page_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

.landing_page_main_back_image_div_cnt_h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 4.5em;
  margin-left: 1em;
  padding-left: 0.5em;
  position: relative;
  color: white;
  line-height: 89.5%;
  text-transform: uppercase;
}

.landing_page_main_back_image_div_cnt_h1::before {
  content: "";
  position: absolute;
  width: 10px;
  top: 0;
  border-radius: 25px;
  left: 0;
  height: 100%;
  background-color: white;
}

.landing_page_main_back_image_div_cnt_h1::after {
  content: "";
  top: 0;
  position: absolute;
  width: 17px;
  border-radius: 25px;
  left: 0;
  height: 50%;
  background-color: white;
  box-shadow: 0px 5px 20px black;
}

/* About Ravalbit */

.about_ravalbit_div_flex_main_cnt {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  background-color: white;
}

.about_ravalbit_div_flex_main_cnt_heading_para_heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 6em;
  line-height: 89.5%;
  text-transform: uppercase;
}

.about_ravalbit_div_flex_main_cnt_heading_para {
  z-index: 5;
  margin-left: 3vw;
}

.about_ravalbit_div_flex_main_cnt_heading_para_p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  margin-top: 1.3em;
  font-size: 1.1em;
  width: 48%;
  line-height: 110%;
}

.about_ravalbit_div_flex_main_cnt_img {
  position: absolute;
  bottom: 0;
  height: 120%;
  right: 0;
  transform: rotateY(180deg);
  max-height: 1100px;
}

/* Services Page */

.services_page_main_cnt {
  padding: 10em 0;
}

.background_color_black {
  background-color: black;
}

.services_page_main_cnt_h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 5em;
  line-height: 89.5%;
  color: white;
  margin-left: 3vw;
}

.services_page_main_cnt_name_services_cards {
  width: calc(100% - 10vw);
  display: grid;
  padding: 0px 5vw;
  grid-gap: 6vw;
  grid-template-columns: 1fr 1fr 1fr;
}

.services_page_main_cnt_name_services_cards_card_h1 {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  padding: 2em 0;
  font-size: 1.5em;
  line-height: 48px;
}

.services_page_main_cnt_name_services_cards_card_p {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 120%;
}

.services_page_main_cnt_name_services_cards_card {
  margin-top: 6em;
  border-top: 1px solid white;
}

/* Toward Future */

.toward_future_main_cnt_h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 6em;
  line-height: 89.5%;
  z-index: 5;
  margin-left: 3vw;
}

.toward_future_main_cnt {
  padding-top: 10em;
  padding-bottom: calc(25em + 10vw);
  position: relative;
}

.toward_future_main_cnt_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 1300px;
}

.we_will_take_you_from_here_to_here {
  position: absolute;
  top: 10em;
  right: 6vw;
  width: 290px;
  transform: rotateZ(-55deg);
  height: 100px;
}

.we_will_take_you_from_here_to_here::before {
  content: "";
  width: calc(50% - 1px);
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 40px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  height: 60%;
}

.we_will_take_you_from_here_to_here::after {
  content: "";
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-left-radius: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  height: 60%;
}

.we_will_take_you_from_here_to_here_p1 {
  top: 0;
  left: -5em;
  position: absolute;
  font-family: "poppins";
  font-size: 0.7em;
  transform: rotateZ(55deg);
}

.we_will_take_you_from_here_to_here_p2 {
  bottom: 0;
  line-height: 100%;
  right: -5em;
  position: absolute;
  font-family: "poppins";
  font-size: 0.7em;
  transform: rotateZ(55deg);
}

/* Tech Of Future */

.tech_of_future_main_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  max-height: 900px;
  overflow: hidden;
  /* filter: saturate(0) brightness(0.6); */
}

.tech_of_future_main_cnt_img {
  width: 50%;
  box-shadow: 0px 0px 30px black;
}

.tech_of_future_main_cnt_content_div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech_of_future_main_cnt_content_div_h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 3.9em;
  line-height: 89.5%;
  text-transform: uppercase;
}

.tech_of_future_main_cnt_content_div_p {
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  margin-top: 2em;
  font-weight: 400;
  font-size: 1em;
  width: 90%;
  line-height: 120%;
}

.tech_of_future_main_cnt_content_div_div {
  width: 80%;
}

/* Our Services Include */

.our_services_include_main_cnt {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  max-height: 900px;
  overflow: hidden;
  margin-top: -5rem;
  /* filter: saturate(0) brightness(0.6); */
}

.our_services_include_main_cnt_img {
  width: 50%;
  object-fit: contain;
}

.our_services_include_main_cnt_img_appdev {
  width: 30%;
  margin-left: 10%;
  object-fit: max-content;
}

.our_services_include_main_cnt_content_div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our_services_include_main_cnt_content_div_h1_div {
  width: 90%;
  margin-top: 9rem;
  margin-bottom: -5rem;
}

.our_services_include_main_cnt_content_div_h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 3.9em;
  line-height: 89.5%;
  text-transform: uppercase;
}

.our_services_include_main_cnt_content_div_p {
  font-family: "Poppins";
  font-style: normal;
  margin-top: 2.25em;
  font-weight: 400;
  font-size: 1em;
  width: 90%;
  line-height: 120%;
}

.our_services_include_main_cnt_content_div_div {
  width: 80%;
}

.our_services_include_main_cnt_content_div_h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2.6em;
  width: 90%;
  line-height: 120%;
}

/* Ask for Quotation */

.ask_for_quotation_main_cnt {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  overflow: hidden;
}

.ask_for_quotation_super {
  display: flex;
  flex: 1;
}

.ask_for_quotation_main_cnt_h3_div {
  margin-top: 0em;
  width: 80%;
  height: 15%;
  margin-bottom: 5em;
}

.ask_for_quotation_main_cnt_h3 {
  width: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 2.89em;
  line-height: 120%;
  text-align: center;
}

.ask_for_quotation_main_cnt_inputView {
  width: 60%;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ask_for_quotation_main_cnt_input {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1em;
  color: #fff;
  width: 100%;
  background-color: #2d2d2d;
  padding-left: 1.4em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

.ask_for_quotation_main_cnt_send_button {
  display: flex;
  background-color: #000000;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.ask_for_quotation_main_cnt_send_text {
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 1em;
  width: 100%;
  line-height: 120%;
}

/* Client Reviews */

.client_review_main_cnt {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 90vh;
  max-height: 900px;
  margin-top: 10em;
  margin-bottom: 50em;
}

.client_review_main_cnt_h1 {
  margin-inline-start: 5%;
  font-size: 8em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  line-height: 89.5%;
}

.client_review_main_cnt_service_main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 10em;
  width: 100%;
}

.client_review_box-main-cnt {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.client_review_box_sideBar {
  width: 1em;
  height: 12.5em;
  background-color: #d9d9d9;
}

.client_review_box_content {
  height: 12.5em;
  background-color: #f8f8f8;
  width: 100%;
}

.client_review_box_name_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 136.5%;
  letter-spacing: 0.02em;
  color: #000000;
  padding-top: 1em;
  padding-left: 1em;
}

.client_review_box_review_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 0.94em;
  line-height: 136.5%;
  letter-spacing: 0.02em;
  color: #000000;
  padding-left: 1.5em;
  padding-top: 1.5em;
}

/* Home Page Footer */

.homePage_footer_main_cnt_1 {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
  max-height: 900px;
  width: 100%;
  background-color: #13163e;
}

.homePage_footer_main_cnt_2 {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #13163e;
}

.homePage_footer_main_cnt_logo_img {
  width: 114px;
  aspect-ratio: 1;
  align-self: center;
}

.homePage_footer_main_cnt_content_div {
  display: flex;
  flex: 1;
  width: 100%;
  margin-bottom: 10em;
}

.homePage_footer_cc_main_cnt {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 50%;
  height: 30em;
  margin-top: 5em;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
}

.homePage_main_cc_seperator_text {
  font-weight: 700;
  font-size: 4em;
  font-family: "Lato";
  font-style: normal;
}

.homePage_main_cc_seperator {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.02em;
}

.homePage_footer_cc_main_domain {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 2.5em;
}

.homePage_footer_cc_main_cc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 2.5em;
}

.homePage_footer_cc_main_cres {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.homePage_footer_credits {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%;
  flex-direction: column;
}

.homePage_footer_cc_main_credits {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 136.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 4em;
}
