.landing_page_main_back_image {
    background-image: url("../../public/images/landing_page_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}
.landing_page_main_back_image_div_cnt_h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 4.5em;
    margin-left: 1em;
    padding-left: .5em;
    position: relative;
    color: white;
    line-height: 89.5%;
    text-transform: uppercase;
}
.landing_page_main_back_image_div_cnt_h1::before{
    content: "";
    position: absolute;
    width: 10px;
    top: 0;
    border-radius: 25px;
    left: 0;
    height: 100%;
    background-color: white;
}
.landing_page_main_back_image_div_cnt_h1::after{
    content: "";
    top: 0;
    position: absolute;
    width: 17px;
    border-radius: 25px;
    left: 0;
    height: 50%;
    background-color: white;
    box-shadow: 0px 5px 20px black;
}


/* About Ravalbit */


.about_ravalbit_div_flex_main_cnt{
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    background-color: white;
}
.about_ravalbit_div_flex_main_cnt_heading_para_heading{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 6em;
    line-height: 89.5%;
    text-transform: uppercase;
}
.about_ravalbit_div_flex_main_cnt_heading_para{
    z-index: 5;
    margin-left: 3vw;
}
.about_ravalbit_div_flex_main_cnt_heading_para_p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-top: 1.3em;
    font-size: 1.1em;
    width: 48%;
    line-height: 110%;
}
.about_ravalbit_div_flex_main_cnt_img{
    position: absolute;
    bottom: 0;
    height: 120%;
    right: 0;
    transform: rotateY(180deg);
    max-height: 1100px;
}


/* Services Page */


.services_page_main_cnt{
    padding: 10em 0;
}
.background_color_black{
    background-color: black;
}
.services_page_main_cnt_h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 5em;
    line-height: 89.5%;
    color: white;
    margin-left: 3vw;
}
.services_page_main_cnt_name_services_cards{
    width: calc(100% - 10vw);
    display: grid;
    padding: 0px 5vw;
    grid-gap: 6vw;
    grid-template-columns: 1fr 1fr 1fr;
}
.services_page_main_cnt_name_services_cards_card_h1{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    padding: 2em 0;
    font-size: 1.5em;
    line-height: 48px;
}
.services_page_main_cnt_name_services_cards_card_p{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: .9em;
    line-height: 120%;
}
.services_page_main_cnt_name_services_cards_card{
    margin-top: 6em;
    border-top: 1px solid white;
}


/* Toward Future */


.toward_future_main_cnt_h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 6em;
    line-height: 89.5%;
    z-index: 5;
    margin-left: 3vw;

}
.toward_future_main_cnt{
    padding-top: 10em;
    padding-bottom: calc(25em + 10vw);
    position: relative;
}
.toward_future_main_cnt_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 1300px;
}
.we_will_take_you_from_here_to_here{
    position: absolute;
    top: 10em;
    right: 6vw;
    width: 290px;
    transform: rotateZ(-55deg);
    height: 100px;
}
.we_will_take_you_from_here_to_here::before{
    content: "";
    width: calc(50% - 1px);
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 40px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    height: 60%;
}
.we_will_take_you_from_here_to_here::after{
    content: "";
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 40px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 60%;
}
.we_will_take_you_from_here_to_here_p1{
    top: 0;
    left: -5em;
    position: absolute;
    font-family: "poppins";
    font-size: .7em;
    transform: rotateZ(55deg);
}
.we_will_take_you_from_here_to_here_p2{
    bottom: 0;
    line-height: 100%;
    right: -5em;
    position: absolute;
    font-family: "poppins";
    font-size: .7em;
    transform: rotateZ(55deg);
}


/* Tech Of Future */


.tech_of_future_main_cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    max-height: 900px;
    overflow: hidden;
    filter: saturate(0) brightness(.6);
}
.tech_of_future_main_cnt_img{
    width: 50%;
    box-shadow: 0px 0px 30px black;
}
.tech_of_future_main_cnt_content_div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.tech_of_future_main_cnt_content_div_h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 3.6em;
    line-height: 89.5%;
    text-transform: uppercase;
}
.tech_of_future_main_cnt_content_div_p{
    font-family: 'Poppins';
    font-style: normal;
    margin-top: 2em;
    font-weight: 400;
    font-size: 1em;
    width: 90%;
    line-height: 120%;
}
.tech_of_future_main_cnt_content_div_div{
    width: 80%;
}